.navbar{
    display: flex;
    padding: 1rem 10px;
}
.nav_header{
    flex: 1;
    cursor: pointer;
}
.nav_ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.authWrapper{
    display: flex;
    gap: 10px;
}